{% block stylelink %}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}"/>
{% endblock %} 

<h1>Tags</h1>

</head>
<body>
<main>
    <nav>
        <ul>
            <li>
                <img height="30" width="30" src="/static/home.png" />
                <a href="/">Home</a>
            </li>
            <li>
                <img height="30" width="30" src="/static/add.png" />
                <a href="/tags/new">New Tag</a>
            </li>
        </ul>
    </nav>
</main>
</body>
<table>
    <thead>
        <tr>
            <th>List of tags: </th>
            <th>Activated: </th>
            <th>Activate button: </th>
            <th>Delete: </th>
            <th>Edit: </th>
        </tr>
    </thead>
    <tbody>
        {% for tag in tags %}
        <tr>
            <td><a href="/tags/{{ tag.id }}">{{ tag.category }}</a></td>
            <td>{{ tag.activate_tag }}</td>
            <td>
                <form action="/tags/activate" method="POST">
                    <input type="hidden" name="tag_id" value="{{ tag.id }}">
                    {% if tag.activate_tag == True %}
                        <button type="submit">Deactivate</button>
                    {% elif tag.activate_tag == False %}
                        <button type="submit">Activate</button>
                    {% endif %}
                </form>
            </td>            
            <td>
                <form action="/tags/delete" method="POST">
                    <input type="hidden" name="tag_id" value="{{ tag.id }}">
                    <button type="submit" onclick="return confirm('Are you sure?')">Delete</button>
                </form>
            </td>
            <td>
                <form method="get" action="/tags/edit/{{ tag.id }}">
                    <button type="submit" class="edit-button">Edit</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
