<html lang="en">
<head>
    <title>Create New Tag</title>
{% block stylelink %}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}"/>
{% endblock %} 
</head>
<body>
    <h1>Create a New Tag</h1>
    <form method="post" action="/tags/new">
        <label for="category">Category:</label>
        <input type="text" id="category" name="category" required>
        <button type="submit">Create Tag</button>
    </form>
</body>
</html>