{% block stylelink %}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}"/>
{% endblock %} 
<h1> {{tag.category}} </h1>
<p>
    <a href="/tags">Return</a>
</p>
<h3>Details:</h3>
