{% block stylelink %}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}"/>
{% endblock %} 

<h1>Vaults</h1>

<body>
<main>
    <nav>
        <ul>
            <li>
                <img height="30" width="30" src="/static/home.png" />
                <a href="/">Home</a>
            </li>
        </ul>
    </nav>
</main>
</body>