{% block stylelink %}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}"/>
{% endblock %} 
<h1>Budgets</h1>

<body>
<main>
    <nav>
        <ul>
            <li>
                <img height="30" width="30" src="/static/home.png" />
                <a href="/">Home</a>
            </li>
            <li>
            <img height="30" width="30" src="/static/wallet.png" />
                <a href="/transactions">Transactions</a>
            </li>
        </ul>
    </nav>
</main>
</body>
<form action="/budgets" method="GET">
    <label for="start_date">Start Date:</label>
    <input type="date" name="start_date" id="start_date">
    <label for="end_date">End Date:</label>
    <input type="date" name="end_date" id="end_date">
    <input type="submit" value="Filter transactions by date">
</form>
<p>Total spendings: {{ transactions_sum }}</p>

{% if budget.budget_amount is not defined %}
    <form action="/budgets" method="POST">
        <div>
            Set a new budget:<input type="number" name="budget"/>
        <input type="submit" value="Submit"/>
        </div>
    </form>
{% endif %}
{% if budget.budget_amount is defined %}
<table>
    <td>
        Your budget: {{ budget.budget_amount }}
    </td>
    <td>
        <form action="/budgets/delete/{{ budget.id }}" method="POST">
            <button type="submit">Delete Budget</button>
        </form>
    </td>
</table>
{% endif %}

<div style="text-align: center;">
<img src="{{ img_src }}" alt="Spending Over Time" />
</div>