<!DOCTYPE html>
<html>
<head>
    <title>BIG MONEY $PENDER</title>
    <div class="MainHeader">
        <h1>BIG MONEY $PENDER</h1>
        <h3>Manage your money efficiently!</h3>
    </div>
{% block stylelink %}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}"/>
{% endblock %}    

</head>
<body>
<main>
    <nav>
        <ul>
            <li>
            <img height="30" width="30" src="/static/wallet.png" />
            <a href="/transactions">Transactions</a>
            <img height="30" width="30" src="/static/wallet.png" />
            </li>
            <li>
            <img height="30" width="30" src="/static/tag.png" />
            <a href="/tags">Tags</a>
            <img height="30" width="30" src="/static/tag.png" />
            </li>
            <li>
            <img height="30" width="30" src="/static/merchant.png" />
            <a href="/merchants">Merchants</a>
            <img height="30" width="30" src="/static/merchant.png" />
            </li>
            <li>
            <img height="30" width="30" src="/static/budget.png" />
            <a href="/budgets">Budgets</a>
            <img height="30" width="30" src="/static/budget.png" />
            </li>
            <li>
            <img height="30" width="30" src="/static/vault.png" />
            <a href="/vaults">Vaults</a>
            <img height="30" width="30" src="/static/vault.png" />
            </li>
            <li>
            <img height="30" width="30" src="/static/user.png" />
            <a href="/users">Users</a>
            <img height="30" width="30" src="/static/user.png" />
            </li>
        </ul>
    </nav>
    <section id="content">
        {% block content %}

        {% endblock%}    
    </section>
</main>

<div style="text-align: center">
<img height="500" width="900" src="/static/bank.png" />     
</div>

</body>
</html>