<!DOCTYPE html>
<html>
<head>
    <title>BIG MONEY $PENDER</title>
</head>
<body>
<h1>BIG MONEY $PENDER</h1>
<main>
    <nav>
        <ul>
            <li>
            <a href="/transactions">Transactions</a>
            </li>
            <li>
            <a href="/tags">Tags</a>
            </li>
            <li>
            <a href="/merchants">Merchants</a>
            </li>
        </ul>
    </nav>
</main>
</body>
</html>