<html lang="en">
<head>
    <title>Create New Merchant</title>
{% block stylelink %}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}"/>
{% endblock %} 
</head>
<body>
    <h1>Create a New Merchant</h1>
    <form method="post" action="/merchants/new">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <button type="submit">Create Merchant</button>
    </form>
</body>
</html>