{% block stylelink %}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}"/>
{% endblock %} 

<h1>Users</h1>

<body>
<main>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/users/new">New User</a>
            </li>
        </ul>
    </nav>
</main>
</body>
<table>
    <thead>
        <tr>
            <th>Users: </th>
            <th>Funds: </th>
            <th>Spendings: </th>
            <th>Delete: </th>
            <th>Edit: </th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td><a href="/users/{{ user.id }}">{{ user.username }}</a></td>
            <td>{{ user.funds }}</td>          
            <td>{{ user.transactions_sum }}</td>          
            <td>
                <form action="/users/delete" method="POST">
                    <input type="hidden" name="user_id" value="{{ user.id }}">
                    <button type="submit" onclick="return confirm('Are you sure?')">Delete</button>
                </form>
            </td>
            <td>
                <form method="get" action="/users/edit/{{ user.id }}">
                    <button type="submit" class="edit-button">Edit</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>