{% block stylelink %}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}"/>
{% endblock %} 
<h1>Transactions</h1>

<body>
<main>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/transactions/new">New Transaction</a>
            </li>
            <li>
                <a href="/budgets">Budgets</a>
            </li>
        </ul>
    </nav>
</main>
</body>
{% if budget %}
    <p class ="Budget">Your budget: {{ budget.budget_amount }}</p>
{% else %}
    <p>No budget set.</p>
{% endif %}

<p class="TotalSpendings">Total spendings: {{ transactions_sum }}</p>

{% if budget and budget.budget_amount < transactions_sum %}
    <p class="OverBudget">You are over the budget by: {{ transactions_sum - budget.budget_amount }}</p>
{% elif budget and budget.budget_amount - transactions_sum < 500 %}
    <p class="AlmostBudget">You are nearly at the budget!</p>
{% endif %}
<form action="/transactions" method="GET">
    <label for="start_date">Start Date:</label>
    <input type="date" name="start_date" id="start_date">
    <label for="end_date">End Date:</label>
    <input type="date" name="end_date" id="end_date">
    <input type="submit" value="Filter transactions by date">
</form>



<table>
    <thead>
        <tr>
            <th>No.</th>
            <th><a href="{{ url_for('transactions.sort_transactions', column='username') }}">User</a></th>
            <th><a href="{{ url_for('transactions.sort_transactions', column='merchant') }}">Merchant</a></th>
            <th><a href="{{ url_for('transactions.sort_transactions', column='category') }}">Category</a></th>
            <th><a href="{{ url_for('transactions.sort_transactions', column='amount') }}">Amount</a></th>
            <th><a href="{{ url_for('transactions.sort_transactions', column='date') }}">Date</a></th>
            <th><a href="{{ url_for('transactions.sort_transactions', column='comment') }}">Comment</a></th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ transaction.user.username }}</td>
            <td>{{ transaction.merchant.name }}</td>
            <td>{{ transaction.tag.category }}</td>
            <td>{{ transaction.amount }}</td>
            <td>{{ transaction.date }}</td>
            <td>{{ transaction.comment }}</td>
            <td>
                <form action="/transactions/delete" method="POST">
                    <input type="hidden" name="transaction_id" value="{{ transaction.id }}">
                    <button type="submit" onclick="return confirm('Are you sure?')">Delete</button>
                </form>
            </td>
            <td>
                <form method="get" action="/transactions/edit/{{ transaction.id }}">
                    <button type="submit" class="edit-button">Edit</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
