{% block stylelink %}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}"/>
{% endblock %} 
<h1>Add a Transaction</h1>

<form action="/transactions" method="post">
    <label for="merchant">Select a merchant:</label>
        <select name="merchant_id" id="merchants">
        {% for merchant in merchants %}
        <option value="{{ merchant.id }}">{{ merchant.name }}</option>
        {% endfor %}
        </select>
    <label for="tag">Select a tag:</label>
        <select name="tag_id" id="tags">
            {% for tag in tags %}
            <option value="{{ tag.id }}">{{ tag.category }}</option>
            {% endfor %}
        </select>

    <label for="amount">Add an amount:</label>
    <input type="number" name="amount" id="amount" step="0.01" required>
    <input type='submit' value="Transaction">
</form>
