{% block stylelink %}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}"/>
{% endblock %} 
<h1>Transaction Details</h1>
<p>Transaction ID: {{ transaction.id }}</p>
<p>Merchant: {{ transaction.merchant.name }}</p>
<p>Tag: {{ transaction.tag.category }}</p>
<p>Amount: {{ transaction.amount }}</p>
<p>Amount: {{ transaction.amount }}</p>

<p>
    <a href="/transactions">Return</a>
</p>
<h3>Details:</h3>
